@import '../../styles/mixin';
@import '../../styles/variables';

.slogan {
    padding-top: 8rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    @include tablet {
        padding-top: 6rem;
    }

    @include mobile {
        padding-top: 6rem;
    }

    .sloganContent {
        width: calc(7 / 12 * 100%);

        @include tablet {
            width: 100%;
        }

        @include mobile {
            width: 100%;
        }
    }

    .sloganImg {
        padding: 0 2rem;
        width: calc(5 / 12 * 100%);

        @include tablet {
            width: 100%;
        }

        @include mobile {
            width: 100%;
        }

        img {
            width: 100%;
        }
    }
}

.sloganContent {
    .sloganTitle {
        margin-bottom: 2rem;
        font-size: 6.4rem;
        font-weight: 700;
        text-shadow: 0 5px 8px rgb(0 0 0 / 10%);
        color: $textColor2;
        line-height: 1.3;
        letter-spacing: 0.05rem;

        @include tablet {
            font-size: 3.2rem;
        }

        @include mobile {
            font-size: 3.2rem;
        }
    }

    .sloganText {
        width: 90%;
        font-size: 1.8rem;
        color: $textColor4;
        font-weight: 200;
        margin-bottom: 4rem;
    }

    .sloganBtn {
        padding: 1.8rem 3rem;
        color: #fff;
        font-size: 1.8rem;
        font-weight: 400;
        text-transform: uppercase;
        border: 1px solid rgba(255, 255, 255, 0.4);
        border-radius: 0.2rem;
        background-color: transparent;
        letter-spacing: 0.1rem;
        cursor: pointer;
        transition: $transition2;

        &:hover {
            background-color: $btnColor;
            border-color: transparent;
        }

        @include tablet {
            margin-bottom: 4rem;
        }

        @include mobile {
            margin-bottom: 4rem;
        }
    }
}
