$mobile-width: 768px;
$tablet-width: 1024px;
$primaryColor1: #00bc9e;
$primaryColor2: #0a007e;
$btnColor: #3634d2;
$textColor1: white;
$textColor2: #00ffd4;
$textColor3: #bcb9b9;
$textColor4: #eee;
$textColor5: rgba(63, 63, 63, 0.8);
$maxWidthM: 1280px;
$maxWidthS: 720px;
$maxWidthXS: 540px;
$backgroundColor1: #f4f4f4;
$backgroundColorRadient: linear-gradient(134deg, #0c0091 0%, #00a87e 100%);
$sectionPadding: 6rem 0;
$scrollMarginTop: 4rem;
$textLineHeight: 2;
$transition2: all 0.2s ease;
$transition6: all 0.6s ease;
